.chat-input-container {
  display: grid;
  grid-template-columns: 5% 95%;
  align-items: center;
}
.emoji-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.emoji {
  position: relative;
}
.abc {
  position: absolute;
  top: -470px;
}
.icon {
  width: 24px;
  height: 24px;
  color: white;
  cursor: pointer;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 95%;
  height: 50%;
  margin: 0 5px;
}
.text-input {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-input input {
  background-color: rgb(152, 152, 180);
  width: 100%;
  height: 90%;
  border-radius: 12px;
  padding: 0 20px;
}
.text-input input::placeholder {
  color: white;
  font-size: 14px;
  font-style: italic;
}
.send-button {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-button button {
  width: 90%;
  height: 90%;
  background-color: #131324;
  border: none;
}
